extends layout

block content
  h1 Picadelly Pizza
  p under construction
  ul
    li
      a(href="/toppings/") toppings
    li
      a(href="/crusts/") crusts
    li
      a(href="/custom_pizza/add") Create a Pizza
    li
      a(href="/specialty_pizza/add") Specialty Pizza
    li
      a(href="/customer/") Manage Customers
    li
      a(href="/order/new") Order a Pizza
    li
      a(href="/payment") Add a Payment
