extends ../layout

block content
  h2 Add a Crust

  form( action="/crusts/add", method="post")
    input( name="name", placeholder="crust name" )
    input( name="price", placeholder="crust price" )
    input( type="submit", value="Submit" )

  a( href="/crusts/" ) Back
