extends ../layout

block content
  h2 Create a New Pizza

  form( action="/custom_pizza/add", method="post")
    input( name="order_id", type="hidden", value=order_id )
    input( name="customer_id", type="hidden", value=customer_id )
    select(name="crust_id")
      -for (crust of crusts){
        option(value=crust.id) #{crust.name}
      -}
    input( type='submit', value="Submit")
